<div class="jumbotron">
  <div class="container">
    <h1>Need/Want Bookmark</h1>
    <p>1. Drag the bookmark to the Bookmark Bar of your browser.<br />
    	2. When you're browsing the web and see something you Need or Want, click the bookmark to add it to your Wantlist in one click!</p>
    <p><a class="btn btn-primary btn-lg" href="javascript:void((function()%7Bvar e%3Ddocument.createElement(%27script%27)%3Be.setAttribute(%27type%27,%27text/javascript%27)%3Be.setAttribute(%27src%27,%27http://theneedwant.herokuapp.com/framebookmarklet.js%27)%3Bdocument.body.appendChild(e)%7D)())">Need/Want Wantlist</a></p>
  </div>
</div>