<div class="container">
	<h4>Add item to Wishlist</h4>
	<div class="row">
		<div class="col-md-4 offset3">
			<form accept-charset="UTF-8" action="/items" method="post">
			
			<div style="margin: 0px; padding: 0px; display: inline;">
			<input name="utf8" type="hidden" value="✓"/>
			<input name="authenticity_token" type="hidden" value="GHsHAJ8069tXA/9VYN7XZ7Eh8KWTompDGt5LvESpxMg="/>
			</div>
			
			<input id="item_wishlist_id" name="item[wishlist_id]" type="hidden" value="1"/>
			<label for="item_title">Title</label>
			:
			<input id="item_title" name="item[title]" size="30" type="text"/>
			<br/>
			<label for="item_brand">Brand</label>
			:
			<input id="item_brand" name="item[brand]" size="30" type="text"/>
			<br/>
			<label for="item_category">Category</label>
			:
			<input id="item_category" name="item[category]" size="30" type="text"/>
			<br/>
			<label for="item_price">Price</label>
			:
			<input id="item_price" name="item[price]" size="30" type="text"/>
			<br/>
			<label for="item_url">Url</label>
			:
			<input id="item_url" name="item[url]" size="30" type="text"/>
			<br/>
			<label for="item_image">Image</label>
			:
			<input id="item_image" name="item[image]" size="30" type="text"/>
			<br/>
			<input class="btn btn-small btn-primary" name="commit" type="submit" value="Do Want!"/>
		</form>
	</div>
</div>