<footer class="footer">
  <small>
    <a href="http://www.linkedin.com/in/margaretblue">NeedWant Wishlist</a>
  </small>
  <nav>
    <ul> 
      <li><a href="http://www.linkedin.com/in/margaretblue">Contact</a></li>
    </ul>
  </nav>
  <script type="text/javascript">
	var _usrp = {
		type: "button",
		company: "needwant",
		host: "needwant.userrules.com",
		mode: "advanced",
		sso: {},
		getVisitorId: function() {return "";},
		getAdditionalParams: function() {return "";},
		placement: "right",
		color: ["#32312E", "#62615E"]
	};

	(function(D) {
		var _usr = D.createElement("script"), s = D.getElementsByTagName("script")[0];
		_usr.type = "text/javascript"; _usr.async = true;
		_usr.src = ("https:" == D.location.protocol ? "https" : "http" ) + "://dtkm4pd19nw6z.cloudfront.net/js/userrules/9a41a826e957127b4e5bfc7d140e45c4/feedback.canary.js";
		s.parentNode.insertBefore(_usr, s);
	})(document);
</script>
</footer>